.search-container .ui.input {
	width: 100%;
	margin: 20px 0px;
}

.search-container .ui.input input {
	border-radius: 20px !important;
}

.search-container .ui.input input::placeholder,
.search-container .ui.input i {
	color: #01d277;
}
